{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% if message %}
            {{ 'confirmed' |trans }}
        {% else %}
            {{ 'cancelled' |trans }}
        {% endif %}
    </div>

{% endblock %}