{# This form will be changed when the search part will be done#}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button>{{ 'baptism.search.submit' | trans }}</button>
{{ form_end(form) }}
{# end#}

