/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/node_modules
/web/vendors
/web/assets/css/*
/web/assets/fonts/*
/web/assets/js/*
/web/.sass-cache/*
/src/SogenactifBundle/Api/params/pathfile
/web/uploads/users_avatar/
