@import "imports"

#baptismSelection
  min-height: calc( 100vh - 120px )
  header
    align-items: center
    background: $bg-color2
    color: $font-color1
    display: flex
    font-family: $main-title-font
    justify-content: center
    min-height: 40vh
    padding-top: 120px
    h1
      font-family: $main-title-font
      font-size: $main-title-size