@import "imports"

.privatise
  width: 100%
  height: 100vh
  margin: 0
  background-image: url("../media/img/private_restaurant.jpg")
  background-size: cover
  &-blockInfo
    text-align: center
    margin-top: 50vh
    color: $font-color1
    font-family: $main-title-font
    h1
      font-size: 4.5rem
      font-weight: bolder
    p
      font-size: 1.8rem
.estimatePresentation
  padding-bottom: 8rem
  padding-top: 10vh
  font-family: $p-font
  color: $font-color2
  text-align: center

.estimateForm
  padding-bottom: 10vh
  text-align: center
  color: BLACK
  font-family: $p-font
  &-center
    height: 500px
    border-radius: 15px
    border: 4px solid $bg-color1