.homeHeader
  width: 100%
  min-height: 1100px
  margin: 0
  background-image: url("../media/img/homeHeader_image.jpg")
  background-size: cover
  &-text
    margin-top: 300px
    text-align: center
    color: $font-color1
  &-title
    font-family: $main-title-font
  &-buttonInfo
    margin-top: 60px
    text-align: center
    &--size
      height: 100px
      width: 320px
      background-color: $btn-transparent
      border: solid 3px $btn-border-color
      font: 20px $btn-font
      color: $font-color1

.brandPresentation
  text-align: center
  &-firstBlock
    margin-top: 50px
  &-title
    font-family: $title-font
  &

