@import "imports"


#ourRestaurants
  width: 100%
  height: 800px
  margin: 0
  background-image: url("../media/img/homeHeader_image.jpg")
  background-size: cover
  &-text
    margin-top: 300px
    text-align: center
    color: $font-color1
  &-title
    font-family: $main-title-font
    font-size: 4.5rem
  &-p
    font-family: $p-font
    font-size: 1.8rem