{% extends 'app/baptism_has_user/layout.html.twig' %}

{% block content %}
    <h2>Guest Part</h2>
    <h3>Context: Visitor visit a baptism page via link (mainly to reserve on his table)</h3>

{% endblock %}