@import "views/base"

.navbar
  font-family: $nav_bar-font
  background-color: BLACK


ul
  list-style: none
  margin: 1rem 0
  padding: 0
  display: flex
  justify-content: space-around
  align-items: center


a
  color: $font-color1
  text-decoration: none
  display: block

a:active, a:hover
  color: $font-color3
  text-decoration: underline

img
  width: 79PX
  height: 122PX
  margin-top: 15PX

