//font
$font-color1: #ffffff; //white
$font-color2: #03201e; //dark-blue
$font-color3: #00938C; //light-blue
$font-color4: #000000; //black
$font-hover: #00938C;

//button
$btn-color1: #ffffff;
$btn-color2: #03201e;
$btn-hover: #03201e;
$btn-hover2: #00938C;
/*$btn-transparent:*/
$btn-mobile: #000000;
$btn-border-color: #000000;

//backgrounds
$bg-color1: #00938C;
$bg-color2: #03201e;
$bg-color-hover: rgba(76,97,95,0.71);




