// Imported Fonts
@import url('https://fonts.googleapis.com/css?family=Asap|Droid+Sans');

//Font Variables
$droid-font: 'Droid Sans', sans-serif;
$asap-font: 'Asap', sans-serif;

$btn-font: 'Droid Sans', bold, sans-serif;
$asap-font: 'Asap', sans-serif;
