{% extends 'app/layout.html.twig' %}

{% trans_default_domain "restaurant" %}

{% block content %}
<div class="wrapper">
    <div class="container" id="ourRestaurants">
        <div class="row">
            <div class="col-md-12">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 homeHeader-text">
                    <h1 class="ourRestaurants-title">{{ 'restaurant_mainTitle' |trans |upper }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}