{% extends 'app/layout.html.twig' %}

{% trans_default_domain "restaurant" %}

{% block content %}
    <section class="container" id="ourRestaurants">
            <h1>
                {{ 'restaurant_mainTitle' |trans |upper }}
            </h1>
    </section>

    <section class="container" id="restaurantSearch">
        <div class="row">
            <div class="col-xs-12 col-md-6 restaurantSearch-bar">
            </div>
        </div>
    </section>

{% endblock %}