{% extends 'app/layout.html.twig' %}

{% trans_default_domain "oneRestaurant" %}

{% block content %}

    <section id="restaurantHeader">
        <header>
            <div class="title">
                <h1>
                    {{ 'restaurant_mainTitle' |trans |upper }}
                </h1>
            </div>
        </header>
    </section>

    <section class="container" id="restaurantDetails">
        <div class="row">
            <div class="pull-left col-md-12 headerTitle">
                <div class="circle">
                    date
                </div>
                <span class="restaurant">Restaurant</span>
                <h1>Restaurant name</h1>
            </div>


            <div class="col-md-6">
                <h2>hello</h2>
            </div>
            <div class="col-md-6">
                <h2>hello</h2>
            </div>
        </div>
    </section>

{% endblock%}