{% extends 'app/layout.html.twig' %}

{% trans_default_domain "oneRestaurant" %}

{% block content %}

    <section id="restaurantHeader">
        <header>
            <div class="title">
                <h1>
                    {{ 'restaurant_mainTitle' |trans |upper }}
                </h1>
            </div>
        </header>
    </section>

{% endblock%}