{% extends 'app/layout.html.twig' %}

{% trans_default_domain "oneRestaurant" %}

{% block content %}

    <section id="restaurantHeader">
        <header>
            <div class="title">
                <h1>
                    {{ 'restaurant_mainTitle' |trans |upper }}
                </h1>
            </div>
        </header>
    </section>

    <section class="container" id="restaurantDetails">
        <div class="row">
            <div class="pull-left col-md-12 headerTitle">

                <span class="restaurant">Restaurant</span>
                <h1>Restaurant name</h1>
            </div>

            <div class="col-md-5">
                <div class="block1">

                </div>
                <div class="block2">

                </div>
            </div>

            <div class="col-md-7">
                <p>Fort de ses titres de Meilleur Restaurant Italien de France, Maurizio Bullano du restaurant DUE situé à Lyon vous fait voyager en Italie à travers l’originalité des plats servis. Maurizio Bullano est sans doute un des chefs italiens les plus connus de Lyon. Il propose une cuisine traditionnelle italienne de grande qualité et met à l’honneur poissons et crustacés. Ces plats à la carte sont renouvelés tous les quinze jours, et même si le restaurant ne paye pas mine, tout le monde s’y presse !</p>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <iframe class="restaurant--map"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22270.76906344167!2d4.8386187000000005!3d45.754230549999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1485357546231"
                        width="600"
                        height="450"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>

{% endblock%}