{% extends 'base.html.twig' %}
{% trans_default_domain 'baptism_home' %}
{% block body %}

<section id="baptismChefHeader">
    <h1>
        {{ 'boc.title' |trans |upper }}
        <br>
        <span class="subtitle">{{ 'boc.video_launch' |trans |upper }}</span>
        <a href="#" data-toggle="modal" data-target="#homeVideo" class="videoTrigger">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        </a>
    </h1>

</section>

{% include 'app/baptism/modals/modal_home_video.html.twig' %}

{% endblock %}