{% extends 'app/layout.html.twig' %}

{% block content %}

    <h2>Purchase Part</h2>
    <h3>Context: Baptism have been selected, here the user will purchase it</h3>
    {% for param in params %}
        {{ param.city }}
    {% endfor %}

{% endblock %}