{% extends 'app/layout.html.twig' %}

{% block content %}
    <h2>Search Part</h2>
    <h3>Context: Visitor is on "bapteme de chef" page and has access to the search bar</h3>

    {# This form will be changed when the search part will be done#}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button>{{ 'baptism.search.submit' | trans }}</button>
    {{ form_end(form) }}
    {# end#}
{% endblock %}