{% extends 'app/layout.html.twig' %}

{% block content %}
    <h2>Select Part</h2>
    <h3>Context: search have been done, here will be found the result, and user will select baptism from here</h3>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}