<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog" aria-labelledby="video">
    <div class="modal-dialog modal-lg" role="document">
        <video>
            <source src="{{ asset('assets/media/videos/BAPTEME DE CHEF By Food and You.mp4') }}" type="video/mp4">
        </video>
    </div>
</div>